body {
    background-color: grey;
}

header,
main,
footer {
    width: 950px;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    font-size: 36px;
}

/* header style starts */
header {
    padding-right: 0;
    width: 1000px;
}

header,
main {
    border-bottom: grey 5px solid;
}

header h1 {
    font-family: "Zapfino";
    font-size: 48px;
    text-align: center;
    color: Black;
    line-height: 84px;
}

.container .logo {
    /*position: relative;*/
    float: left;
    /* padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    font-size: 40px;
    line-height: 23px;
    font-weight: 800;
    letter-spacing: 2px;*/
    color: grey;
}

#title-container {
    margin-left: 200px;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    background-color: grey;
    color: white;
    padding: 12px;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: "Arial";
}

/* header style ends */
#aboutmepanel {
    margin-bottom: 50px;
    margin-right: 150px;
    padding-bottom: 0;
    padding-right: 0;
}

#aboutmepic {
    grid-area: auto;
    position: relative;
    z-index: 2;
    box-shadow: none;
}

/*panel {
    padding: 2.5em 2.5em 2.5em 2.5em;
    position: relative;
    top: 0;
    left: 0;
}*/



.button,
.resumebutton {
    display: inline-block;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 10px 0 0;
    padding: 5px 20px;
    width: auto;
    background: transparent;
    text-transform: uppercase;
    transition: 0.3s;
}

.resumebutton {
    border: 1px solid #5a01ff;
    color: #1201ff;
}

/* FOOTER STYLES START */

footer {
    color: blue;
    font-family: "Arial";
    line-height: 48px;
}

#copyright {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
}

#social-links ul {
    text-align: center;
    margin-bottom: 20px;
}

#social-links ul li {
    display: inline-block;
    border: solid 1px  blue;
    border-radius: 10px;
    padding: 0;
}

#social-links ul li {
    line-height: 100%;
    box-sizing: border-box;
}

#social-links ul li a {
    display: block;
    padding: 8px;
}

/* 
#social-links ul li:hover {
    color: white;
    background-color: turquoise;
} */

#social-links ul li a:link {
    text-decoration: none;
    color: blue;
}

#social-links ul li a:visited {
    color: black;
}

#social-links ul li a:hover {
    color: black;
    background-color: blue;
}



/* FOOTER STYLES END */

/* MAIN DEFAULT STYLES START */

/* GALLERY STYLE START */

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

#gallery div {
    width: 200px;
}

#gallery div img {
    display: flex;
    width: 200px;
    margin-bottom: 20px;
    //float: right;
}

/* GALLERY STYLE END */
.section-title p {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
p {
    display: block;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
section-title {
    margin-bottom: 40px;
    color: #999;
}
.text-center {
    text-align: center!important;
}
#contacts {
    padding-top: 4em;
    min-height: 100%;
    position: relative;
    background-color: #fff;
}
*, input[type="search"], input.search_top_form_text[type="text"], input[type="text"].textboxsearch {
    /*box-sizing: border-box;*/
    -webkit-box-sizing: border-box;
    /*-moz-box-sizing: border-box;*/
}
*, ::after, ::before {
    box-sizing: inherit;
}

div {
    display: block;
}