body {
    background-color: red;
}

header,
main,
footer {
    width: 900px;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    font-size: 36px;
}

/*Header style starts*/

header {
    padding-right: 0;
    width: 950px;
}


header,
main {
    border-bottom: black 5px solid;
}

header h1 {
    font-family: "Zapfino";
    font-size: 48px;
    text-align: center;
    color: red;
    line-height: 84px;


}



#logo {
    float: left;
}

#title-container {
    margin-left: 200px;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 12px;
    margin-top: 25px;
    text-transform: uppercase;

    font-family: "Arial";


}

nav ul li:hover {
    background-color: pink;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:link {
    color: white;
}

nav ul li a:active {
    color: lightgray;
}

nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    text-decoration: underline dotted;

}




/*section ul li {
    /*background-color: greenyellow;*/
/*padding: 5px;*/
/*display: inline-block;*/
/*}*/


/*Header style ends*/

/* Footer style starts*/

footer {
    color: red;
    font-family: "Arial";
    line-height: 48px;
}

#copyright {
    font-size: 10px;
    text-transform: uppercase;
    text-align: middle;
}

#social-links ul {
    text-align: center;
    margin-bottom: 20px;
}

#social-links ul li {
    display: inline-block;
    border: solid 1px red;
    border-radius: 10px;
    padding: 0;
}

#social-links ul li a {
    line-height: 100%;
}



#social-links ul li a:link {
    color: red;
    text-decoration: none;

}

#social-links ul li a:visited {
    color: red;

}

span {
    width: 1000px;
    height: 1000px;
}


#social-links ul li a {
    padding: 0;
    overflow: auto;
}

#social-links ul li a:hover {
    color: white;
}


/*Footer style ends*/

/*MAIN DEFAULT STYLES START*/
main {
    font-family: "Arial";
    color: red;

}

main h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    margin-top: 30px;
    /*text-transform: uppercase;*/
}

main p {
    font-size: 24px;
}




/*MAIN DEFAULT STYLES END*/

/*HOMEPAGE STYLE START*/
main#homepage p {
    margin: 20px;
    line-height: 30px;
    text-align: justify;
}




/*HOMEPAGE STYLE END*/
/*HOMEPAGE STYLE START*/
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

#gallery div {
    width: 200px;
    margin-bottom: 20px;

}

#gallery div img {
    width: 200px;
}

/* GALLERY STYLE END */

/*CONTACT STYLE STARTS*/
#contact hr {
    border: dotted 2px maroon;
    ;
}

#contact-flexbox {
    display: flex;


}

#contact-flexbox div:first-child {
    flex-grow: 3;
    background-color: grey;
}

#contact-flexbox div:last-child {
    flex-grow: 1;
    background-color: silver;
}

#contact-form {

    width: 400px;
    margin-left: 20px;
}

#contact-form label {
    font-size: 24px;
}

#contact-form input {
    border: dashed 10px red;
    width: 400px;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 18px;
    color: red;
    padding-left: 11px;

}

.form-buttons {
    margin: 20px;
    color: red;
    font-size: 18px;
    width: 360px;

}

#contact-form .form-button:hover {
    border: solid red 5px;
    cursor: pointer;
}

#contact-form textarea {
    border: dashed 5px red;
    border-radius: 15px;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    padding: 11px;
    font-size: 18px;
    color: red;
    max-width: 400px;
}


/*CONTACT STYLE END*/